body {
  background-color: peachpuff;
  width:800px;
  margin:auto;
  margin-top:200px;
  font-family:arial;

}
p {
font-family:times;
font-size: 20px;
}

h1 {
text-align: center;
border: 2px solid green;
background-color: yellow;
font-size: 60px;

}
