body {
background-color: #fff;
}

/* MY HEADER FONT AND STYLE */

.header {
  position: fixed;
  bottom:0px;
  text-align: center;
  font-size: 5vw;
  text-transform: uppercase;
  font-family: helvetica, arial;
  letter-spacing: -0.05em;
  width:100%;
  text-align: center;
  z-index: 2;
}
/* MY NAVIGATION FONT AND STYLE */

.nav {
width:100%;
position: fixed;
top:0px;
left:0px;
z-index:2;
padding-top: 5px;
}

/* MY BUTTON FONT AND STYLE */

.button {
font-family:arial;
border:2px solid gray;
border-radius: 10px;
padding:5px;
display: inline-block;
margin: 2px;
font-size: 18px;
background-color: #fff;
cursor: pointer;
}

.item img{
  padding: 20px;
  max-width: 100%;

}

.item {
  background-color: lightpink;
}

.SHOW {
  display: block;
}

.hide{
  display: none;
}
